

  {{!-- <input class="search" placeholder="Search" />
  <button class="sort">
    Sort
  </button> --}}
<div class="container">
{{#each listOfPlayers}}

<div>

<p>{{this.Player}} {{this.Position}} {{this.Team}}</p>
<a href="/players/{{this._id}}">View 2018 Player Projections</a>

</div>

<hr>


{{/each}}
</div>