body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar {
  // height: 100%;
  width: 100%;
  // background-size: contain;
  background-color:white;
  display: flex;
  justify-content: flex-start;
}