body {
  padding:20px;
  font-family: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color:white;
  text-align: center;
  background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/5LTJsFT/football-stadium-background-animation_4kiej7gr__F0000.png");
  background-size: cover;
  background-repeat: no-repeat;
  
}



a {
  color: rgb(0, 0, 0);
}

.navbar {
  background-color: lightgrey;
  
}






.container {
background-color:lightgrey;
border:lightgray;
border-radius:5px;
margin-top:26px;


}

.draft-btn {
  
}